--theme-active: #a8b3cf33;
    --theme-focus: #2cdce6;
    --theme-float: #a8b3cf14;
    --theme-hover: #a8b3cf1f;
    --theme-background-primary: #0e1217;
    --theme-background-reverse: #fff;
    --theme-background-secondary: #1c1f26;
    --theme-background-tertiary: #17191f;
    --theme-background-bun: #f04c11;
    --theme-background-onion: #3b1eba;
    --theme-background-pepper: #494e5b;
    --theme-label-primary: #fff;
    --theme-label-secondary: #cfd6e6;
    --theme-label-tertiary: #a8b3cf;
    --theme-label-quaternary: #a8b3cfa3;
    --theme-label-disabled: #a8b3cf52;
    --theme-label-link: #5c9bfa;
    --theme-label-invert: #0e1217;
    --theme-label-bun: #fa5;
    --theme-divider-primary: #a8b3cf;
    --theme-divider-secondary: #a8b3cf66;
    --theme-divider-tertiary: #a8b3cf33;
    --theme-divider-quaternary: #a8b3cf14;
    --theme-status-error: #e04337;
    --theme-status-help: #ffe923;
    --theme-status-success: #39e58c;
    --theme-status-warning: #ff8e3b;
    --theme-status-cabbage-invert: #ac1de4;
    --theme-status-cabbage: #ce3df3;
    --theme-status-fill: #427ef7;
    --theme-shadow2: 0 6px 6px -2px #00000066;
    --theme-shadow3: 0 14px 14px -6px #000000a3;
    --theme-mention: rgba(206,61,243,.24);
    --theme-mention-hover: rgba(206,61,243,.32);
    --theme-post-disabled: #1c1f2666;
    --theme-overlay-quaternary: #ffffff3d;
    --theme-overlay-water: #3169f53d;
    --theme-overlay-cabbage: #c029f03d;
    --theme-overlay-from: #7147ed30;
    --theme-overlay-to: #ce3df330;
    --theme-rank-highlight: #f5f8fc;
    --theme-rank-1-color: #a8b3cf;
    --theme-rank-1-color-top: #a8b3cf;
    --theme-rank-1-color-bottom: #525866;
    --theme-rank-2-color: #ad6648;
    --theme-rank-2-color-top: #ad6648;
    --theme-rank-2-color-bottom: #ff8e3b;
    --theme-rank-3-color: #f5f8fc;
    --theme-rank-3-color-top: #f5f8fc;
    --theme-rank-3-color-bottom: #a8b3cf;